
.static-image {
  position: absolute;
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%; /* Make the image round */
  z-index: 2;
}

.pulse {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #D60093; /* Set the color of the pulse effect */
  object-fit: cover;
  z-index: 1;
}

.pulse span{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit; /* Set the color of the pulse effect */
  animation: pulse-animation  4s ease-out infinite; 
  opacity: .10;
  animation-delay: calc(1s *var(--i));
}
@keyframes pulse-animation {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
